html {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.content,
.footer {
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    display: flex;
    height: 50px;
    align-items: center;
}

#header-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}