html {
    background-color: #1F2937;
    color: #F9FAF8;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.content,
.footer {
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    display: flex;
    height: 50px;
    align-items: center;
}

#header-logo {
    margin-right: auto;
}

.header-links {
    display: flex;
}

li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}